<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goprogs.riphahportal">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserQuestions"
            android:label="My Queries"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EditProfile"
            android:label="Edit Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="User"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="Notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnswerNow"
            android:label="Answer Now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllQuestions"
            android:label="Questions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskNow"
            android:label="Ask Now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="Search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".question"
            android:label="Question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".logout"
            android:label="Logout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Riphah Portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DefaultActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>